body{
  font-family: "Montserrat-black";
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}
section{
  padding: 3% 5%;
}
h1,h2,h3,h4{
  text-align: center;
  font-size: 2.5rem;
  padding: auto;
}

/* banner image */
#banner{
  padding: 0;
}
.banner-image{
  width: 100%;
  margin: 0;
  height: 30rem;
}

/* navigation bar */
#navigation{
  margin: 0;
  padding: 0;
  /* position: absolute;
  z-index: 2; */
}
.navbar-brand {
  font-family: 'Mate SC', serif;
  font-size: 1.5rem;
  font-weight:bold;
  margin-left: 2%;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.container-fluid{
  padding: 0;
}

/* virus image */
/* .virus-img{
  height: 15rem;
  position: absolute;
  right: 0;
  z-index: 1;
  border-radius: 100%;
} */

/* about us */
#about-us{
  background-color: #F2F2F2;
  color: #333333;
  text-align: center;
}
.about-text{
  font-size: 1.2rem;
}

/* dashboard */
#dashboard{
  background-color: #66D8F2;
  padding: 4% 3%;
  font-size: 1rem;
  line-height: 2.5;
  margin-bottom: 0;
}
.dashboard-button{
  text-align: center;
  margin: 3% 2% 0;
}
.d-button{
  padding: 0 2%;
}
.dashboard-link{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
.dashboard-link:hover{
  color: black;
}
.dashboard-banner{
  width: 100%;
  height: 40%;
  padding: auto;
}

/* full status */
.full-status{
  padding: 2% 5%;
  text-align: center;
  background-color: #fff;
  margin-top: 0;
}


/* team members */
#team{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
.team-img{
  border-radius: 100%;
  width: 30%;
  height: 10%;
  text-align: center;
}
.member-name{
  font-family: "Montserrat-bold";
  font-size: 2rem;
  color: #333333;
}

/* footer section */
#footer{
  background-color: #141F40;
  color: #fff;
  padding-bottom: 1%;
  font-size: 1rem;
}

/* join us */
.join-us{
  text-align: center;
}
.social{
  text-align: center;
}
.social-icons{
  padding: 3% 2%;
  text-align: center;
  color: #fff;
}
.social-icons:hover{
  color: #1374F2;
}

/* contact us  */
.contact-us{
  text-align: center;
  line-height: 1.5;
}
.form-details{
  margin-left: 10%;
  margin-right: 2%;
  text-align: left;
}
.contact-details{
  margin: 2% 15%;
  padding: 2% 15%;
  text-align: left;
}
.submit-button{
  text-align: center;
  margin: 2%;
}

/* copyright */
.copyright{
  padding: 5% 7% 0;
  text-align: center;
  font-size: 1rem;
}
